*.exp
*.bsc
*.user
*.exe
*.ilk
*.pdb
*.sdf
*.suo
*.psess
*.vsp
*.log
*.opensdf
/TestResults/
/ConsoleTest/
/*/Debug/
/*/Release/
/ipch/
/docs/Reference/html
/Xihad/math3d.*
/Debug/*.lib
*sublime*
/Debug/irrlicht-*.dll
/Debug/UnitTest.*