*.exp
*.bsc
*.user
*.exe
*.ilk
*.pdb
*.sdf
*.suo
*.psess
*.vsp
*.log
*.opensdf
/TestResults/
/ConsoleTest/
/*/Debug/
/*/Release/
/ipch/
/docs/Reference/html
*sublime*

CEGUIIrrlichtRenderer*.dll
CEGUIBasedDialogue.dll
CEGUI.dll
UnitTest.dll
math3d.dll
ArtIn.dll

/Debug/*.lib
/Release/*.lib
